/**********************  NAVBAR ESTILOS **********************/

.navbar-nav{
  margin: 0;
  padding: 0;
}
.nav-link:hover{
   border-bottom: #ffc000 solid 1px; 
}

/**********************  POSTERS ESTILOS **********************/

/* .home-blog {
  padding-top: 48px;
  padding-bottom: 48px;
} */

@media (min-width: 992px) {
  .home-blog {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.home-blog .section-title {
  padding-bottom: 40px;
}

.home-blog .media {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .home-blog .media {
    margin-top: 30px;
  }
}

/* .bg-sand {
  background-color: #e2dbdb;
  /* background-color: #8787ad; 
} */

.media.blog-media {
  margin-top: 10px;
  position: relative;
  display: block;
}

@media (min-width: 992px) {
  .media.blog-media {
    display: table;
  }
}

.media.blog-media .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  position: relative;
  padding: 1px;
  top: 0px;
  left: 5px;
  text-align: center;
  box-shadow: none;
  transform: translateX(0);
  color: #fff;
  transition: background-color 0.3s ease;
}

.media.blog-media .circle .day {
  color: #fff;
  transition: color 0.25s ease;
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  margin-top: 20px;
}

.media.blog-media>a {
  position: relative;
  display: block;
}

@media (min-width: 992px) {
  .media.blog-media>a {
    display: table-cell;
    vertical-align: top;
    min-width: 200px;
  }
}

@media (min-width: 1200px) {
  .media.blog-media>a {
    min-width: 230px;
  }
}

.media.blog-media>a:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

/* .media.blog-media>a img {
  width: 100%;
  transition: transform 0.3s ease, border 0.3s ease;
} */

/* .media.blog-media a:hover img {
  transform: scale(1.1); Ajusta el valor según tus preferencias */
/* } */

.media.blog-media:hover>a:before {
  opacity: 1;
  transform: scale(1);
}

.media.blog-media:hover .circle {
  background-color: rgba(255, 255, 255, 0.9);
}

.media.blog-media:hover .circle .day,
.media.blog-media:hover .circle .month {
  color: #222;
}

/* **** CAMBIAR DE COLOR LOS TITULOS ***** */
/* 
.media.blog-media:hover .media-body h5 {
  color: #0cc652;
}

.media.blog-media:hover .media-body a.post-link {
  color: #0cc652;
  text-decoration: underline;
} */

.media.blog-media .media-body {
  border: 1px solid #efeff3;
  padding: 30px 30px 10px;
  font-size: 14px;
  background: #fff;
  border-top: none;
}

@media (min-width: 992px) {
  .media.blog-media .media-body {
    padding: 15px 20px 10px;
    border-top: 1px solid #efeff3;
    border-left: none;
    display: table-cell;
    vertical-align: top;
  }
}

@media (min-width: 1200px) {
  .media.blog-media .media-body {
    padding: 10px 20px 10px;
  }
}

.media.blog-media .media-body h5 {
  transition: color 0.3s ease;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .media.blog-media .media-body h5 {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .media.blog-media .media-body h5 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.media.blog-media .media-body a.post-link {
  display: block;
  color: #222;
  font-size: 11px;
  padding: 23px 0;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 992px) {
  .media.blog-media .media-body a.post-link {
    padding: 7px 0;
  }
}

@media (min-width: 1200px) {
  .media.blog-media .media-body a.post-link {
    padding: 23px 0;
  }
}

.media.blog-media .media-body ul {
  position: relative;
  padding: 10px 0 0;
}

.media.blog-media .media-body ul li {
  display: inline-block;
  width: 100%;
  position: relative;
}

.media.blog-media .media-body ul li:before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #b1b1ca;
}

.media.blog-media .media-body ul li:first-child:before {
  visibility: hidden;
}

.media.blog-media .media-body ul:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #b1b1ca;
}

.media.blog-media .media-body .badge {
  display: flex; /* Hacer que el span sea un bloque */
  position:relative;
  justify-content: center;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 15px;
}

/********************** FORMULARIO DE CONTACTO ESTILOS **********************/

.contact-area {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (max-width: 768px) {
  .contact {
      margin-bottom: 3rem;
  }
}

.contact input,
.contact textarea {
  background: #fff;
  border: 2px solid #ced4da;
  border-radius: 10px;
  box-shadow: none;
  color: #495057;
  font-size: 1rem;
  height: 3rem;
  padding: 0.5rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
  transition: all 0.3s ease 0s;
}

.contact input:focus {
  border-color: #00135b;
  box-shadow: none;
  outline: 0;
}

.contact textarea:focus {
  border-color: #00135b;
  box-shadow: none;
  outline: 0;
  height: 6rem;
}

.form-control::placeholder {
  color: #495057;
  opacity: 1;
}

.btn-contact-bg {
  border-radius: 30px;
  color: #fff !important;
  /* Agrega !important para asegurarte de que esta regla tenga prioridad */
  padding: 1rem 2rem;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  background: #00135b !important;
  /* Agrega !important para asegurarte de que esta regla tenga prioridad */
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
}

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .single_address {
      padding-left: 0;
  }
}

.single_address i {
  background: #f6f6f6;
  color: #00135b;
  border-radius: 30px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  float: left;
  margin-right: 0.875rem;
  font-size: 1.375rem;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: #00135b;
  color: #fff;
}

.single_address h4 {
  font-size: 1.125rem;
  margin-bottom: 0;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 0.25rem;
}

.section-title p {
  width: 60%;
}

.section-title {
  justify-content: center;
}

.text-center {
  text-align: center !important;
}
