:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Inter", "Open Sans", sans-serif;

  --amarillo: #ffc000;
  --azul: #00135b;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #7b8a8a;
  --grisClaro: #f1efef;
  --verdeClaro: #0d9276;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

/** Globales **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}
h6{
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  color: var(--gris);
}
img {
  max-width: 100%;
}
.sombras {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.55);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1.5rem;
}

/* navbar */
.navbar-nav {
  padding: 0;
  margin: 2rem;
}
.nav-link {
  margin: 0 1rem;
}
.nav-link:hover {
  border-bottom: var(--amarillo) solid 1px;
}

/* Estilos predeterminados para el botón */
.navbar-toggler {
  background-color: var(
    --amarillo
  ); /* Cambia a amarillo cuando la pantalla es menor de 768 píxeles */
}

.btn_outlines {
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.5s;
}

/* SECCION DE LA HEADER */

.header {
  background: url("../img/campus.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blanco);
  height: 55rem;
}

.header-info h2 {
  font-size: 3rem;
  margin: 2rem;
}

/* header iconos */

.iconos a i {
  font-size: 2rem;
  color: var(--amarillo);
}

@media (min-width: 768px) {
  .header-info h2 {
    font-size: 4rem;
  }
  .header-info img {
    padding: 2rem;
  }
  .iconos-info {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  }
  .iconos {
    border: 1px solid var(--amarillo);
    flex: 1;
    padding: 1rem;
    margin-right: 3rem;
  }
  .iconos a i {
    font-size: 4rem;
  }

  .iconos:last-child {
    /* para evitar espacio extra al final */
    margin-right: 0;
  }
}

.d-flex {
  align-items: center;
}

/* Seccion de barra de proyectos*/

.bg-success {
  background-color: var(--verdeClaro) !important;
  padding-bottom: 0px;
}

.counter-value {
  font-weight: bold;
  color: var(--azul) !important;
}

@media (max-width: 480px) {
  .d-flex h1 {
    font-size: 4rem;
  }
}

/* Sección: sobre nosotros */

.about h1 {
  color: var(--negro);
  font-weight: bold;
}
.about h5 {
  font-weight: bold;
  color: var(--azul) !important;
}

.about p {
  color: var(--gris);
}

.btn.btn-success.rounded-pill {
  background-color: var(--verdeClaro);
  font-weight: 600;
  padding: 1rem;
  width: 20rem;
  color: var(--blanco);
  border-radius: 50%;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .btn.btn-success.rounded-pill {
    width: 100%;
  }
}

/* SECCION DE PROYECTOS */

.col-xl-3 {
  width: 90%;
  margin: 1rem;
}
@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 1;
  }
}

.proyects {
  background-color: var(--grisClaro);
}
.proyects h1 {
  color: var(--negro);
  font-weight: bold;
  margin-bottom: 5rem;
}

.proyects p {
  color: var(--gris);
}

.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.proyect img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.proyects .fecha {
  font-weight: 700;
  top: -2.8rem;
  right: 2rem;
  background-color: var(--azul);
  color: var(--blanco);
}

.proyects-content {
  flex: 1;
  text-align: center;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.proyects-content .autor {
  color: var(--azul);
  font-weight: bold;
}

.proyects-content .programa {
  color: var(--amarillo);
  font-style: italic;
  font-weight: bold;
}

.btn__ver {
  background-color: var(--verdeClaro);
}

.btn__ver a {
  color: var(--blanco);
  font-weight: 700;
}

/* SECCION INTEGRANTES */

.intro {
  margin-bottom: 3.6rem;
  text-align: center;
}

.intro p {
  max-width: 90rem;
}

.intro h1 {
  color: var(--negro);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.intro h5 {
  color: var(--azul);
  font-weight: bold;
  text-transform: uppercase;
}

.team-member {
  text-align: center;
}

.team-member h5 {
  margin-top: 1.6rem;
  margin-bottom: .4rem;
}

.team-member .image {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.team-member .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -10%;
  background-color: rgba(41, 91, 255, 0.7);
  opacity: 0;
  transition: all 0.4s ease;
}


/* Iconos de integrantes */

.team-member .social-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease;
}

.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.team-member .social-icons a {
  width: 4rem;
  height: 4rem;
}

.team-member:hover .social-icons {
  top: 50%;
  opacity: 1;
}

.team-member:hover .overlay {
  top: 0%;
  opacity: 1;
}

/* TITULOS */

.tittle {
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.tittle h2 {
  display: inline-block;
  position: relative;
  align-items: center;
  text-align: center;
  color: #0e0d0d;
}

.tittle h2::after,
.tittle h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #ffc000;
  top: 0.6em;
}

.tittle h2::before {
  left: 180px;
}

.tittle h2::after {
  right: 180px;
}

/* BOTON DE VOLVER  */
/* 
.btn {
  font-size: 3rem;
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-md-square {
  width: 46px;
  height: 46px;
}

.btn-lg-square {
  width: 58px;
  height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  z-index: 99;
} */

/* LOGIN */

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../img/campus.webp");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
