:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;

  --amarillo: #ffc000;
  --azul: #00135b;
  --blanco: #ffffff;
  --negro: #000000;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

/** Globales **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}

/* navbar */
.navbar-nav {
  padding: 0;
  margin: 2rem;
}
.nav-link {
  margin: 0 1rem;
}
.nav-link:hover {
  border-bottom: var(--amarillo) solid 1px;
}

/* Estilos predeterminados para el botón */
.navbar-toggler {
  background-color: var(
    --amarillo
  ); /* Cambia a amarillo cuando la pantalla es menor de 768 píxeles */
}

.btn_administador {
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.5s;
}

/* SECCION DE LA HEADER */

.header {
  background: url("../img/campus.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blanco);
  height: 55rem;
}

.header-info h2 {
  font-size: 3rem;
  margin: 2rem;
}

/* header iconos */
.iconos a i {
  font-size: 2rem;
  color: var(--amarillo);
}

@media (min-width: 768px) {
  
  .header-info h2 {
    font-size: 4rem;
  }
  .header-info img {
    padding: 2rem;
  }
  .iconos-info {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  }
  .iconos {
    border: 1px solid var(--amarillo);
    flex: 1;
    padding: 1rem;
    margin-right: 3rem;
  }
  .iconos a i {
    font-size: 4rem;
  }

  .iconos:last-child {
    /* para evitar espacio extra al final */
    margin-right: 0;
  }
}



/* .banner .banner-content {
  width: 60%;
}

.banner .banner-content img {
  height: 140px;
  padding: 20px;
  margin: 10px;
}

.butt {
  width: auto;
  margin-top: 50px;
}

.butt .row .col-lg-3 {
  border-left: #ffc000 solid 1px;
  border-right: #ffc000 solid 1px;
}

.butt .row .col-lg-3:hover {
  border-left: #ffc000 solid 1px;
  border-right: #ffc000 solid 1px;
  border-bottom: #ffc000 solid 1px;
} */

/* SECCION DE CONTADORES */

.bg-success {
  background-color: #26d48c !important;
  padding-bottom: 0px;
}

.counter-value {
  font-weight: bold;
  color: #00135b !important;
}

/* SECCION DE QUIENES SOMOS - MISION Y VISION */

.about h5 {
  font-weight: bold;
  color: #00135b !important;
}

.about h1 {
  color: black;
  font-weight: bold;
}

.about p {
  color: #7b8a8a;
  font-size: 16px;
}

/* SECCION DE PROYECTOS */

.proyects .h5 {
  font-weight: bold;
  color: #00135b !important;
}
.proyects .h1 {
  color: black;
  font-weight: bold;
}

.proyects p {
  color: #7b8a8a;
  font-size: 16px;
}

.proyects .proyect {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos hijos */
  text-align: center;
  height: 100%;
}

.proyect img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.proyects-content {
  flex: 1;
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.proyects-content .autor {
  color: #00135b;
  font-weight: bold;
}

.proyects-content .date {
  color: #00135b;
  font-weight: bold;
}

.proyects-content .programa {
  color: #ffc000;
  font-style: italic;
  font-weight: bold;
}

/* SECCION INTEGRANTES */

/* TITULOS */

.tittle {
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.tittle h2 {
  display: inline-block;
  position: relative;
  align-items: center;
  text-align: center;
  color: #0e0d0d;
}

.tittle h2::after,
.tittle h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #ffc000;
  top: 0.6em;
}

.tittle h2::before {
  left: 180px;
}

.tittle h2::after {
  right: 180px;
}

/* BOTON DE VOLVER  */
/* 
.btn {
  font-size: 3rem;
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-md-square {
  width: 46px;
  height: 46px;
}

.btn-lg-square {
  width: 58px;
  height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  z-index: 99;
} */

/* LOGIN */

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../img/campus.webp");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
