:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Inter", "Open Sans", sans-serif;

  --amarillo: #ffc000;
  --azul: #00135b;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #7b8a8a;
  --grisClaro: #f1efef;
  --verdeClaro: #0d9276;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}

/***** Globales *****/

.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  color: var(--gris);
}
img {
  max-width: 100%;
}
.sombras {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.55);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1.5rem;
}

/***** navbar - menu de navegación *****/

.navbar-nav {
  font-size: 1.6rem;
  padding: 0;
}
.dropdown-item{
  font-size: 1.5rem;
  padding: .5rem 4rem;
}
.dropdown-item:hover{
  background-color: var(--gris);
}
.nav-link {
  margin: 0 1rem;
  color: var(--blanco);
}

.nav-link:focus {
  color: var(--amarillo);
}

.nav-link:hover {
  color: var(--amarillo);
}

/* Estilos predeterminados para el botón de pantallas chicas en el navbar */

.navbar-toggler {
  background-color: var(
    --amarillo
  );
}
 /* estilos del boton de administrador */

.btn_outlines {
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.5s;
}

/***** Datatables estilos personalizados *****/

table.dataTable tbody {
  line-height: 1.8 !important;
}

.botonos-datatables {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

/***** Sección del header *****/

.header {
  background: url("../img/campus.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--blanco);
  height: 55rem;
}

.header-info h2 {
  font-size: 4rem;
  margin: 2rem;
}

.layout {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 5rem;
}

@media (max-width: 1024px) {
  .layout {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.layout a i {
  font-size: 4rem;
  color: var(--amarillo);
}

.layout p {
  color: var(--blanco);
}

.grow {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--amarillo);
  padding: 1rem;
}

.grow a i {
  flex-grow: 1;
}

/***** Estilos para los titulos en cada secciones *****/

.intro {
  margin-bottom: 3.6rem;
  text-align: center;
}

.intro p {
  max-width: 90rem;
}

.intro h1 {
  color: var(--negro);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.intro h5 {
  color: var(--azul);
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header-contenido {
    height: 60rem;
  }
  .header-info {
    margin-bottom: -10rem;
  }
  .header-info h2 {
    font-size: 3rem;
    margin: 1rem;
  }
  .layout {
    flex-wrap: wrap;
    margin: 5rem 5rem;
  }
  .layout a i {
    font-size: 3rem;
    color: var(--amarillo);
  }
  .grow {
    flex-basis: calc(50% - 1.6rem);
    padding: 0;
  }
  .grow p {
    font-size: 1rem;
  }
}

/***** Seccion de barra de proyectos *****/

.d-flex {
  align-items: center;
}

@media (max-width: 767px) {
  .d-flex {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

.bg-success {
  background-color: var(--verdeClaro) !important;
  padding-bottom: 0px;
}

.counter-value {
  font-weight: bold;
  color: var(--azul) !important;
}

/***** Sección: sobre nosotros *****/

.about h1 {
  color: var(--negro);
  font-weight: bold;
}
.about h5 {
  font-weight: bold;
  color: var(--azul) !important;
}

.about p {
  color: var(--gris);
}

.btn.btn-success.rounded-pill {
  background-color: var(--verdeClaro);
  font-weight: 600;
  padding: 1rem;
  width: 20rem;
  color: var(--blanco);
  border-radius: 50%;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .btn.btn-success.rounded-pill {
    width: 100%;
  }
}

/***** Sección de proyectos *****/

.col-xl-3 {
  width: 90%;
  margin: 1rem;
}

@media (min-width: 480px) {
  .col-xl-3 {
    width: 65%;
    margin: 1rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 1;
  }
}

.proyects {
  background-color: var(--grisClaro);
}

.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.proyect img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.proyects .fecha {
  font-weight: 700;
  top: -2.8rem;
  right: 2rem;
  background-color: var(--azul);
  color: var(--blanco);
}

.proyects-content {
  flex: 1;
  text-align: center;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.proyects-content .autor {
  color: var(--azul);
  font-weight: bold;
}

.proyects-content .programa {
  color: var(--amarillo);
  font-style: italic;
  font-weight: bold;
}

.btn__ver {
  background-color: var(--verdeClaro);
}

.btn__ver a {
  color: var(--blanco);
  font-weight: 700;
}

/***** Sección Integrantes *****/

.team-member {
  text-align: center;
}

.team-member h5 {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}

.team-member .image {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.team-member .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -10%;
  background-color: rgba(41, 91, 255, 0.7);
  opacity: 0;
  transition: all 0.4s ease;
}

/* Iconos de integrantes */

.team-member .social-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease;
}

.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.team-member .social-icons a {
  width: 4rem;
  height: 4rem;
}

.team-member:hover .social-icons {
  top: 50%;
  opacity: 1;
}

.team-member:hover .overlay {
  top: 0%;
  opacity: 1;
}

/* Sección de Galeria */

.gallery {
  background-color: var(--grisClaro);
}

/***** Formulario de contacto *****/

@media (max-width: 768px) {
  .contact {
    margin-bottom: 3rem;
  }
}

.contact input,
.contact textarea {
  background: #fff;
  border: 2px solid #ced4da;
  border-radius: 1rem;
  box-shadow: none;
  color: var(--gris);
  font-size: 1.6rem;
  height: 4.5rem;
  padding: 0.5rem;
  width: 100%;
  padding-left: 3rem;
  transition: all 0.3s ease 0s;
}

.contact input:focus {
  border-color: var(--verdeClaro);
  box-shadow: none;
  outline: 0;
}

.contact textarea:focus {
  border-color: var(--verdeClaro);
  box-shadow: none;
  outline: 0;
  height: 6rem;
}

.form-control::placeholder {
  color: var(--gris);
  opacity: 1;
}

.btn-contact-bg {
  border-radius: 3rem;
  color: var(--blanco) !important;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  background: var(--verdeClaro) !important;
  cursor: pointer;
  width: 100%;
}

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .single_address {
    padding-left: 0;
  }
}

.single_address i {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blanco);
  color: var(--azul);
  border-radius: 30px;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 3rem;
  text-align: center;
  float: left;
  margin-right: 0.875rem;
  font-size: 1.7rem;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: var(--azul);
  color: #fff;
}

.single_address h6 {
  margin-bottom: 0;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 0.25rem;
}

.section-title p {
  width: 60%;
}

.section-title {
  justify-content: center;
}

.text-center {
  text-align: center !important;
}

/***** Estilos para el Footer *****/

.site-footer {
  background-color: var(--negro);
  padding: 4.5rem 0 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer a {
  color: var(--gris);
}

.site-footer a:hover {
  color: var(--amarillo);
  text-decoration: none;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width:4rem;
  height:4rem;
  line-height:4rem;
  margin-left:0.6rem;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text {
  margin:0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom:3rem;
  }
}
@media (max-width:767px) {
  .site-footer {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:0.4rem;
}
.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:1.6rem;
  display:inline-block;
  line-height:4.4rem;
  width:4.4rem;
  height:4.4rem;
  text-align:center;
  margin-right:0.8rem;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a {
  line-height:3.4rem;
  height:3.4rem;
  width:3.4rem;
  font-size:1.4rem;
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6
}
.social-icons a.instagram:hover {
  background-color:#ea4c89
}
